@'
.venv
.venv/
.git
.git/
.github
.github/
__pycache__
__pycache__/
.pytest_cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.pyc
*.pyo
*.pyd

data/raw/*
data/processed/*
models/*
artifacts/*
mlruns
mlruns/

.env
*.joblib
*.pkl
*.sqlite
*.faiss
*.index

*.zip
*.log
'@ | Set-Content .dockerignore -Encoding UTF8